<section class="dashboard" fxFlex fxLayout="row wrap" fxLayoutAlign="space-around center">
  <div fxFlex.gt-md="45%" fxFlex.lt-lg="98%" class="div-dashboard first" fxFlex fxLayoutAlign="center center" routerLink="/adopted">

    <div class="content">
      Udomljeni psi
    </div>

  </div>


  <div fxFlex.gt-md="45%" fxFlex.lt-md="98%" class="div-dashboard second" fxFlex fxLayoutAlign="center center" routerLink="/evidention">

    <div class="content">
      Evidencija pasa
    </div>

  </div>


  <div fxFlex.gt-md="45%" fxFlex.lt-md="98%" class="div-dashboard third" fxFlex fxLayoutAlign="center center" routerLink="/interventions">

    <div class="content">
      Intervencije
    </div>

  </div>


  <div fxFlex.gt-md="45%" fxFlex.lt-md="98%" class="div-dashboard fourth" fxFlex fxLayoutAlign="center center" routerLink="/nonadopted">

    <div class="content">
      Podaci o kastraciji
    </div>

  </div>
</section>

